*:focus {
    outline: none !important;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    background-color: black;
    display: fixed;
}

.headerWords {
    margin: 25px;
    font-weight: 200;
}

.containerThree {
    display: flex;
    padding-left: 25px;
}

.line {
    background-color: white;
    margin-top: 15px;
    height: 80px;
    width: 2px;
}

.socials {
    padding: 15px;
    writing-mode: vertical-lr;
}

.skillsContainer {
    display: flex;
}

.skillsWords {
    padding: 3px;
}

.headerWord {
    font-weight: 200;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.divWordContainer {
    display: flex;
    width: 35vw;
    margin: 25px;
    justify-content: space-around;
}

.mainScreenRight {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.mainScreenLeft {
    display: flex;
    height: 85vh;
    padding-left: 60px;
    position: fixed;
    align-items: flex-end;
}

.section {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sectionFour {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding-top: 25px;
}

button {
    display: flex;
    position: relative;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.25em 3em;
    margin: 10px;
    color: white;
    background-color: black;
    border: 1px solid white;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}

.redSection {
    height: 140vh;
}

.one {
    background-color: black;
    display: flex;
}

.sectionOneFont {
    font-size: 120px;
    font-weight: 200;
    margin-top: 150px;
}

.two {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoTitle {
    font-size: 75px;
    font-weight: 200;
}

.card {
    margin: 10px;
    filter: blur(5px);
    transition: all 1s;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0;
}

.card:nth-child(1) {
    transition-delay: 600ms;
}

.card:nth-child(2) {
    transition-delay: 400ms;
}

.card:nth-child(3) {
    transition-delay: 200ms;
}

.card:nth-child(4) {
    transition-delay: 600ms;
}

.card:nth-child(5) {
    transition-delay: 400ms;
}

.card:nth-child(6) {
    transition-delay: 200ms;
}

.twitter {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.socialsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.show {
    filter: blur(0px);
    opacity: 1;
}

.twoTitle {
    font-size: large;
    margin: 25px;
}

.sectionTwoPhotoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90vw;
}

.square {
    height: 200px;
    width: 200px;
    background-color: black;
}

.sectionThree {
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.sticky {
    top: 500px;
    display: flex;
}

.contactContainer {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.margin {
    margin-bottom: 30px;
}

.contactInputs {
    display: flex;
    width: 65vw;
    justify-content: space-around;
    height: 200px;
}

input {
    border: none;
}

.contactInput {
    border: 0;
    padding: 0.6em;
    padding-left: 0;
    width: 250px;
    position: relative;
    color: currentColor;
    background: transparent;
    border-bottom: 1px solid currentColor;
    margin: 8px;
}

a {
    color: white;
    text-decoration: none;
}

.contactP {
    font-weight: 200;
    font-size: 20px;
}

.inputContainer {
    margin: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigInput {
    border: 0;
    padding: 0.6em;
    padding-left: 0;
    position: relative;
    width: 100%;
    color: currentColor;
    background: transparent;
    border-bottom: 1px solid currentColor;
    margin: 8px;
}

.leftSide {
    width: 100%;
    display: flex;
    justify-content: left;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.largerText {
    font-weight: 300;
    font-size: 35px;
}

.smallText {
    font-weight: 200;
}

.githubLink {
    color: white;
    text-decoration: underline;
}

.four {
    background-color: black;
    display: flex;
}

.workLeftContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.workRightContainer {
    width: 50vw;
    display: flex;
    align-items: center;
    margin: 20px;
}

.projects {
    height: 250px;
    border-radius: 10px;
    width: 250px;
    object-fit: cover;
    margin: 10px;
}

.bottomProject {
    display: flex;
    justify-content: center;
}

.wholeScreen {
    height: 100%;
    scroll-behavior: smooth;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
}

.main {
    background-color: #dadbf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridcontainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 10px;
}

.griditem {
    height: 50px;
    text-align: center;
}

.footer {
    display: flex;
    background-color: black;
    height: 80vh;
}

@media (width < 1300px) {
    .card {
        opacity: 1;
        /* filter: blur(5px); */
        transition: all 1s;
        width: 450px;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
        opacity: 1;
    }
    .sectionTwoPhotoContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        padding-left: 25%;
    }
    .redSection {
        height: 140vh;
    }
    .smallCard {
        width: 300px;
    }
}

@media (width < 1041px) {
    .card {
        opacity: 0;
        margin: 10px;
        filter: blur(5px);
        transition: all 1s;
        width: 275px;
        height: 275px;
        border-radius: 10px;
        object-fit: cover;
        opacity: 0;
    }
    .socialsContainer {
        display: none;
    }
    .headerWords {
        margin: 35px;
        font-size: 30px;
        font-weight: 200;
        display: none;
    }
    .headerWord {
        font-weight: 200;
        font-size: 30px;
        text-align: center;
    }
    .headerContainer {
        width: 100vw;
    }
    .header {
        width: 100%;
    }
    .divWordContainer {
        width: 100vw;
        justify-content: space-around;
        margin: 5px;
        height: 100%;
        align-items: center;
    }
    .sectionOneFont {
        font-size: 50px;
    }
    .mainScreenRight {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 200px;
    }
    .section {
        height: 80vh;
    }
    .photoTitle {
        font-size: 30px;
    }
    .sectionTwoPhotoContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        padding-left: 25%;
    }
    .hide {
        display: none;
    }
    .photoTitle {
        text-align: center;
    }
    .workLeftContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .text {
        text-align: center;
    }
    .sectionFour {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
        padding-top: 200px;
    }
    .workRightContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .smallText {
        font-size: 15px;
    }
    .contactInputs {
        display: flex;
        width: 75vw;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
    }
    .messageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75vw;
    }
    .largerText {
        font-weight: 200;
        font-size: 25px;
    }
}

@media (width < 600px) {
    .card {
        opacity: 0;
        margin: 10px;
        filter: blur(5px);
        transition: all 1s;
        width: 275px;
        height: 275px;
        border-radius: 10px;
        object-fit: cover;
        opacity: 0;
    }
    .socialsContainer {
        display: none;
    }
    .headerWords {
        margin: 25px;
        font-size: 20px;
        font-weight: 200;
        display: none;
    }
    .headerWord {
        font-weight: 200;
        font-size: 20px;
        text-align: center;
    }
    .headerContainer {
        width: 100vw;
    }
    .header {
        width: 100%;
    }
    .divWordContainer {
        width: 100vw;
        justify-content: space-around;
        margin: 5px;
        height: 100%;
        align-items: center;
    }
    .sectionOneFont {
        font-size: 50px;
    }
    .mainScreenRight {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 200px;
    }
    .section {
        height: 80vh;
    }
    .photoTitle {
        font-size: 30px;
    }
    .sectionTwoPhotoContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        padding-left: 25%;
    }
    .hide {
        display: none;
    }
    .photoTitle {
        text-align: center;
    }
    .workLeftContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .text {
        text-align: center;
    }
    .sectionFour {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
        padding-top: 200px;
    }
    .workRightContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .smallText {
        font-size: 15px;
    }
    .contactInputs {
        display: flex;
        width: 75vw;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
    }
    .messageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75vw;
    }
    .largerText {
        font-weight: 200;
        font-size: 25px;
    }
}